body {
  background: #212121;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 0 3rem;
  padding: 2em 0;
  border-bottom: 1px dotted #fff;
}

.hidden {
  display: none;
}

form {
  display: block;
  margin: 5em;
}

label {
  display: block;
  margin: 1.5em 0 1em 0;
}

input {
  display: block;
  width: 12rem;
  margin: 1rem;
}

textarea {
  display: block;
  margin: 1rem;
  width: 25rem;
  height: 12rem;
  line-height: 1.2;
}

button {
  margin: 1rem 0;
  padding: 1px;
}

.return_home {
  font-size: 1.5em;
  margin: 1.5em;
}

.return_home a {
  color: #fff;
}

@media screen and (max-width: 600px) {
  body {
    text-align: center;
  }
  label {
    margin: 0;
  }
  input {
    width: 10rem;
  }
  textarea {
    width: 12rem;
    height: 6rem;
  }
}