body {
    font-size: 17px;
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: calc(1px - .04em);
    font-feature-settings: "palt";
}

.ovq_summary {
    margin-left: 2em;
    font-size: 90%;
}
.ovq_thumbnail img {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

header {
    z-index: 10;
}
header.post-header {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 250px;
    padding: 25px 50px;
    color: #fff;
    font-size: 1em;
    text-shadow: 0 0 8px #000;
}
header.post-header h1 {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 2.2em;
    font-weight: 700;
    margin: 0 0 0 -0.5em;
    text-shadow: 0 0 8px #000;
}
#ovq_bgimage {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    height: 250px;
    opacity: 0.4;
}

img {
    margin: 1% 5%;
    width: 90%;
    height: auto;
    object-fit: cover;
}
.ovq_flex {
    display: flex;
}
.ovq_left {
    width: 40%;
    float: left;
}
.ovq_right {
    width: 40%;
    float: right;
}

table {
    background: #444;
    border-collapse: collapse;
    border: 1px solid #aaa;
}
th {
    background: #383838;
    border: 1px solid #aaa;
    
}
td {
    border-collapse: collase;
    border: 1px solid #aaa;
}
