body {
    font-size: 17px;
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: calc(1px - .04em);
    font-feature-settings: "palt";
}

.ovq_summary {
    margin-left: 2em;
    font-size: 90%;
}
.ovq_thumbnail img {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

img {
    margin: 1% 5%;
    width: 90%;
    height: auto;
    object-fit: cover;
}
.ovq_flex {
    display: flex;
}
.ovq_left {
    width: 40%;
    float: left;
}
.ovq_right {
    width: 40%;
    float: right;
}

table {
    background: #444;
    border-collapse: collapse;
    border: 1px solid #aaa;
}
th {
    background: #383838;
    border: 1px solid #aaa;
    
}
td {
    border-collapse: collase;
    border: 1px solid #aaa;
}
