body {
    font-size: 17px;
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: calc(1px - .04em);
    font-feature-settings: "palt" 1;
}
img {
    margin: 1% 5%;
    width: 90%;
    height: auto;
    object-fit: cover;
}
.ovq_flex {
    display: flex;
}
.ovq_img_left {
    width: 40%;
    float: left;
}
.ovq_img_right {
    width: 40%;
    float: right;
}